<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604118275447-boo3hcl3dm2n661jlisd4apk9agfcr9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604118275447-boo3hcl3dm2n661jlisd4apk9agfcr9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBMNXzhKtUZi2sEYx8p8N_4K-FPSC14enU</string>
	<key>GCM_SENDER_ID</key>
	<string>604118275447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>First.EnternProject</string>
	<key>PROJECT_ID</key>
	<string>test-4fc4b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-4fc4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604118275447:ios:bce5e0d90f4069b40bfd72</string>
	<key>DATABASE_URL</key>
	<string>https://test-4fc4b.firebaseio.com</string>
</dict>
</plist>